
/* In your CSS/SCSS file */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* This ensures that the body doesn't create extra space */
}
.App {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #dfdff7;
  padding: 0.125rem;
  display: flex;
  flex-direction: row;
  height: 100vh; 
   overflow: auto;
  /* Centers the content */
  margin: 0;
}

.sidebar {
  /* Removed fixed width here */
  display: flex;
  flex-direction: column;
  height: 100%; /* Full height */
  background-color: #ffffff; /* Adjust color as needed */
 
}

.main-content {
  margin-left: 0.3125rem;
  flex-grow: 1;
  overflow: auto; 
}


.top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;

  max-width: 109rem;
  /* Prevents the panels from stretching too much on wider screens */
}

.left-panel {
  background-color: #ffffff00;
  padding: 20px;
  border-radius: 10px;
  flex: 2;
  /* Adjust the flex ratio based on your design */
  margin-right: 20px;
  height: 10%;
}

.right-panel {
  background-color: #ffffff00;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  flex: 1;
  /* Ensures this panel is smaller than the left panel */
  display: flex;
  /* Enables internal flex layout for vertical alignment */
  flex-direction: column;
  /* Stacks children vertically */
  justify-content: space-between;
  /* Separates the children within the panel */
  height: min-content;
}

/* If you need spacing between VisitorFeedLink and PopularExhibits, you can add a class */
.visitor-feed-link {
  margin-bottom: 20px; /* Adjust the value as needed */
}

.RoomCapacityChart {
    top: -19.6875rem;
    left: 0px;
    width: 55vw;
    position: relative;
    display: flex;
    height: 30rem;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 24px;
    margin-left: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rounded-table .ant-table {
  border-radius: 16px; /* This value is quite large and will create a very rounded effect */
  overflow: hidden; /* This ensures the inner content respects the border radius */
}

.rounded-table .ant-table-container {
  border-radius: 16px; /* Apply the same border-radius to the container for consistency */
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll thumb */
  border-radius: 6px; /* Rounded corners of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scroll thumb when hovered */
}
