.App {
  font-family: 'Arial', sans-serif;
  /* Use your preferred font here */
  background-color: #DEEDF7;
  /* Background color for the app */
  padding: 20px;
  /* Padding around the app */
}

.top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  /* Space between the top-section and the chart */
}

.left-panel,
.right-panel {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  /* Rounded corners for the panels */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
}

.left-panel {
  flex: 3;
  /* Left panel takes up more space */
  margin-right: 20px;
  /* Space between the two panels */
}

.right-panel {
  flex: 1;
}

.RoomCapacityChart {
  width: 100%;
  /* Chart takes full width */
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
