
/* In your CSS/SCSS file */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.App {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #DEEDF7;
  padding: 0.125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh; 
   overflow: hidden;
  /* Centers the content */
  margin: 0;
}

.sidebar {
  /* Removed fixed width here */
  display: flex;
  flex-direction: column;
  height: 100%; /* Full height */
  background-color: #ffffff; /* Adjust color as needed */
  overflow: auto; /* Scrollbar if content overflows */
}

.main-content {
  margin-left: 0.3125rem;
  flex-grow: 1;
  overflow: auto; /* Scrollbar if content overflows */
}


.top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  /* Adjust this based on your design requirements */
  max-width: 75rem;
  /* Prevents the panels from stretching too much on wider screens */
}

.left-panel {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 2;
  /* Adjust the flex ratio based on your design */
  margin-right: 20px;
  height: 10%;
}

.right-panel {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  flex: 1;
  /* Ensures this panel is smaller than the left panel */
  display: flex;
  /* Enables internal flex layout for vertical alignment */
  flex-direction: column;
  /* Stacks children vertically */
  justify-content: space-between;
  /* Separates the children within the panel */
  height: min-content;
}

/* If you need spacing between VisitorFeedLink and PopularExhibits, you can add a class */
.visitor-feed-link {
  margin-bottom: 20px; /* Adjust the value as needed */
}

.RoomCapacityChart {
    top: -17.6875rem;
    left: 0px;
    width: 48.5rem;
    position: relative;
    height: 25rem;
    background-color: rgb(240, 240, 240);
    border-radius: 24px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
